In [19]:
import numpy as np
import pandas as pd

In [20]:
spray = pd.read_csv('spray (1).csv')

In [21]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [22]:
spray.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14835 entries, 0 to 14834
Data columns (total 4 columns):
Date         14835 non-null object
Time         14251 non-null object
Latitude     14835 non-null float64
Longitude    14835 non-null float64
dtypes: float64(2), object(2)
memory usage: 463.7+ KB

In [23]:
# Set a big Y so that pandas know that the the year is 4 and not 2 digits 
spray['Date'] = pd.to_datetime(spray['Date'], format='%Y-%m-%d')

In [24]:
# Earliest collection
print(spray['Date'].min())
# Latest collection
print(spray['Date'].max())

2011-08-29 00:00:00
2013-09-05 00:00:00

In [25]:
# Make new columns in data frame for Year, Month, Day
spray['Year'] = spray['Date'].dt.year

In [26]:
spray['Month'] = spray['Date'].dt.month

In [27]:
spray['Day'] = spray['Date'].dt.day

In [28]:
spray.head()

        Date        Time   Latitude  Longitude  Year  Month  Day
0 2011-08-29  6:56:58 PM  42.391623 -88.089163  2011      8   29
1 2011-08-29  6:57:08 PM  42.391348 -88.089163  2011      8   29
2 2011-08-29  6:57:18 PM  42.391022 -88.089157  2011      8   29
3 2011-08-29  6:57:28 PM  42.390637 -88.089158  2011      8   29
4 2011-08-29  6:57:38 PM  42.390410 -88.088858  2011      8   29

In [29]:
spray['Time'].isnull().sum()

584

In [30]:
spray['Time'].unique()

array(['6:56:58 PM', '6:57:08 PM', '6:57:18 PM', ..., '8:04:01 PM',
       '8:04:11 PM', '8:04:21 PM'], dtype=object)

In [31]:
# We decided Time was not useful in this dataframe and decided to drop the column
spray = spray.drop(['Time'], axis=1)

In [33]:
spray.head()

        Date   Latitude  Longitude  Year  Month  Day
0 2011-08-29  42.391623 -88.089163  2011      8   29
1 2011-08-29  42.391348 -88.089163  2011      8   29
2 2011-08-29  42.391022 -88.089157  2011      8   29
3 2011-08-29  42.390637 -88.089158  2011      8   29
4 2011-08-29  42.390410 -88.088858  2011      8   29

In [34]:
spray[['Latitude','Longitude']].describe()

           Latitude     Longitude
count  14835.000000  14835.000000
mean      41.904828    -87.736690
std        0.104381      0.067292
min       41.713925    -88.096468
25%       41.785001    -87.794225
50%       41.940075    -87.727853
75%       41.980978    -87.694108
max       42.395983    -87.586727

In [35]:
spray.to_csv('spray_clean.csv')